{
  "model": "claude-opus-4-6[1m]",
  "hooks": {
    "PermissionRequest": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "afplay /System/Library/Sounds/Submarine.aiff",
            "async": true
          }
        ]
      }
    ],
    "Stop": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "afplay /System/Library/Sounds/Submarine.aiff",
            "async": true
          }
        ]
      }
    ]
  },
  "enabledPlugins": {
    "gopls-lsp@claude-plugins-official": true
  },
  "autoUpdatesChannel": "latest",
  "env": {
    "ANTHROPIC_BASE_URL": "https://bifrost.airnity.io/anthropic",
    "ANTHROPIC_API_KEY": "{{ onepasswordRead "op://Private/Chezmoi/BIFROST_KEY" }}",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "vertex/claude-sonnet-4-6[1m]",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "vertex/claude-opus-4-6[1m]",
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "vertex/claude-haiku-4-5@20251001"
  }
}
